
@{
    ViewData["Title"] = "ApiKey";
}

<h1>Open Weather Map Api Key</h1>

<p>
To run the application, you need an API key to call the Open Weather Map API.  You can
sign up for a free account which is all that is required to run the demo project.  To sign up, go
to the page <a target="_blank" href="https://openweathermap.org/price>">https://openweathermap.org/price</a>
and click on the "Get API Key and Start" button under the Free tier.
</p>
<img src="~/images/OpenWeatherMapApiSignup.png" />